* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background-color: #232323;
}

#container {
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
}

#header {
  width: 100%;
  height: 85px;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header img {
  height: 25px;
}

#hero {
  width: 100%;
  height: 270px;
  margin-bottom: 65px;
  background-image: url(../images/hero-mobile.jpg);
  background-size: cover;
}

#content {
  width: 100%;
  padding: 0px 40px;
}

#content #mainTitle {
  margin-bottom: 20px;
  font-size: 2.7em;
  font-weight: 300;
  text-align: center;
  color: #ce9797;
  line-height: 1.2em;
  letter-spacing: 0.2em;
}

#content #mainTitle strong {
  color: #413a3a;
}

#content #mainDescription {
  margin-bottom: 35px;
  font-weight: 400;
  text-align: center;
  color: #ce9797;
}

#content #form {
  width: 100%;
  height: 50px;
  margin-bottom: 80px;
  position: relative;
}

#content #form #emailField {
  width: 100%;
  height: 100%;
}

#content #form #emailField #emailInput {
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 1px solid #ce9797;
  border-radius: 30px;
  color: #ce9797;
}

#content #form #emailField #emailInput:focus-visible {
  outline: 1px solid #ce9797;
}

#content #form #emailField #submit {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 65px;
  height: 100%;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#content #form #emailField #submit:hover {
  cursor: pointer;
  width: 75px;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#content #form #emailField #submit:active {
  width: 70px;
}

#content #form #validateMessage {
  display: none;
  margin: 10px 0px 0px 20px;
  font-size: 0.8em;
  color: #f96262;
}

footer {
  margin-top: auto;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0rem;
}

footer .attribution a {
  color: #f96262;
  text-decoration: none;
}

@media (min-width: 800px) {
  #container {
    width: 100%;
    height: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 4fr;
        grid-template-columns: 6fr 4fr;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
  }
  #hero {
    width: 100%;
    height: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    margin-bottom: 0px;
    background-image: url(../images/hero-desktop.jpg);
    background-size: cover;
  }
  #header {
    width: 100%;
    height: 85px;
    padding: 0px 23%;
    margin-top: 20px;
    margin-bottom: 100px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #header img {
    height: 100%;
  }
  #content {
    width: 100%;
    padding: 0px 23%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #content #mainTitle {
    text-align: left;
    font-size: 3.5em;
    line-height: 1.1em;
  }
  #content #mainDescription {
    text-align: left;
  }
  #content #form {
    margin-bottom: 100px;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}
/*# sourceMappingURL=styles.css.map */